/* I am Nawaz Danish, I am from West Bengal
 I studies at Newton School, Benglore, Karnataka */

/* ===== Audio ===== */
embed{
    display: block;
}

/* ===========================
        Scroll Bar
=========================== */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background: crimson;
}

::-webkit-scrollbar-thumb:hover {
    background: black; 
}

body{
    background: #0a264e;
}

/* ===========================
        Home
=========================== */
#nav1 li{
    list-style: none;
}
#nav1 li i{
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 5px;
    background: gray;
}
#nav2 li{
    list-style: none;
    margin-top: 0.8rem;
}
#nav2{
    display: none;
    text-align: center;
}

#nav2 li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-size: 17px;
    transition: color 0.3s ease;
    font-weight: 700;
}

#nav2 li a:hover{
    color: crimson;
    text-decoration: underline;
    text-underline-offset: .4rem;
    transition: .5s;
}

#nav1:hover #nav2{
    display: block;
}

.middle{
    margin-top: 10rem;
    color: white;
}

.middle #atag{
    text-align: center;
    margin-top: 3rem;
}

.middle #atag a{
    text-decoration: none;
}

.middle .visit{
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 1000;
}
.middle .visit:hover{
    background-color: crimson;
    border: none;
}
.middle .visit:active{
    background-color: purple;
}

#iconbtn{
    transition: all 10sec ease-in-out;
    text-align: center;
    margin-top: 1.5rem;
}

#iconbtn .fa-solid{
    color: white;
    font-size: 2.5rem;
    transition: all 10sec ease-in-out;
    border: none;
    border: none;
}

#iconbtn .fa-solid:hover{
    color: crimson;
}

.top{
    /* border: 1px solid white; */
    transition: all 1s ease-in-out;
}
.top i{
    float: right;
    color: white;
    background-color: rgb(218, 83, 110);
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 10px;
}
.top i:hover{
    background-color: crimson;
}
.top i:active{
    background-color: #0a264e;
}

/* ===========================
        About
=========================== */
#about{
    padding: 1rem;
    background: #111111;
}
#about .container{
    /* border-radius: 10px; */
    margin-top: 2rem;
}

#headingAbout h1{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#right-about img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    /* transition: all 1s ease-in-out; */
    border: 2px solid crimson;
}

/* ===========================
        Course
=========================== */
#course .col-md-4{
    color: white;
    text-align: center;
}
.col-md-4{
    background-image: linear-gradient(to right top, #051937, #0b2d5b, #114381, #155ba9, #1673d4);
    color: white;
    border-radius: 10px;
    /* margin-bottom: 1%; */
    padding: 15px 15px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}
.col-md-4:hover{
    box-shadow: 0 0 30px black;
}
.col-md-4 i{
    font-size: 2rem;
}
.col-md-4 p{
    text-align: justify;
}

/* ===========================
        Blog
=========================== */
#blog{
    padding: 1rem;
    background: #111111;
}
.blog-img img{
    width: 50%;
    height: auto;
}
.certificate p{
    text-align: center;
}

/* ===========================
        Contact
=========================== */
.contact-heading h1{
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#contact input{
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    background-color: #0b2d5b;
    color: #fff;
}

#contact textarea{
    width: 100%;
    /* height: 10rem; */
    resize: none;
    border-radius: 5px;
    background-color: #0b2d5b;
    color: #fff;
    margin-top: 5px;
}

#contact textarea::-webkit-scrollbar{
    width: 10px;
}

#contact textarea::-webkit-scrollbar-thumb{
    background: crimson;
}
#contact textarea::-webkit-scrollbar-thumb:hover{
    background: white;
}

#contact iframe{
    width: 100%;
    height: 100%;
}

#submitbtn{
    text-align: center;
}

form button{
    margin-top: .5rem;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #0b2d5b;
    color: white;
}

form button:hover{
    background: #0a4b96;
}
form button:active{
    background-color: #0a264e;
}
/* ===========================
        Footer
=========================== */