/* I am Nawaz Danish, I am from West Bengal
 I studies at Newton School, Benglore, Karnataka */

/* ===========================
        Scroll Bar
=========================== */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background: crimson;
}

::-webkit-scrollbar-thumb:hover {
    background: black; 
}

/* ===========================
        Home
=========================== */
#home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)) ,url(https://raw.githubusercontent.com/nawazdanish1996/HTML-CSS-Project---HTML-CSS-Mini-Project---hmvp5eqhxlv0/master/image/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav1 li i{
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 5px;
    background: gray;
}
#nav2 li{
    list-style: none;
    margin-top: 0.8rem;
}
#nav2{
    display: none;
    text-align: center;
}

#nav2 li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-size: 17px;
    transition: color 0.3s ease;
    font-weight: 700;
}

#nav2 li a:hover{
    color: crimson;
    text-decoration: underline;
    text-underline-offset: .4rem;
    transition: .5s;
}

#nav1:hover #nav2{
    display: block;
}

.middle{
    margin-top: 10rem;
    color: white;
}

.middle #atag{
    text-align: center;
    margin-top: 3rem;
}

.middle #atag a{
    text-decoration: none;
}

.middle .visit{
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 1000;
}
.middle .visit:hover{
    background-color: crimson;
    border: none;
}
.middle .visit:active{
    background-color: purple;
}

#iconbtn{
    transition: all 10sec ease-in-out;
    text-align: center;
    margin-top: 1.5rem;
}

#iconbtn .fa-solid{
    color: white;
    font-size: 2.5rem;
    transition: all 10sec ease-in-out;
    border: none;
    border: none;
}

#iconbtn .fa-solid:hover{
    color: crimson;
}

.top{
    /* border: 1px solid white; */
    transition: all 1s ease-in-out;
}
.top i{
    float: right;
    color: white;
    background-color: rgb(218, 83, 110);
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 10px;
}
.top i:hover{
    background-color: crimson;
}
.top i:active{
    background-color: #0a264e;
}
/* ===========================
        About
=========================== */

/* ===========================
        About
=========================== */

/* ===========================
        About
=========================== */

/* ===========================
        About
=========================== */